content: none
source https://www.nuget.org/api/v2
source http://nuget.aleacubase.com/nuget
source http://alpha.aleacubase.com/nuget

nuget Alea.CUDA.Fody 2.0.0.3218-rc
nuget Alea.CUDA.Unbound 2.0.0.3218-rc
nuget FSharp.Core
nuget FSharp.Collections.ParallelSeq
nuget Nuget.CommandLine
nuget FsUnit
nuget FAKE
nuget FSharp.Charting
nuget SharpDX.Direct3D9
nuget SharpDX.RawInput
nuget FSharp.Formatting 2.4.36
nuget NUnit.Runners
nuget openTK