content: none
source https://www.nuget.org/api/v2
source http://nuget.aleacubase.com/nuget
source http://alpha.aleacubase.com/nuget

nuget Alea.IL 2.2.0.3293-beta
nuget Alea.CUDA 2.2.0.3293-beta
nuget Alea.CUDA.IL 2.2.0.3293-beta
nuget Alea.CUDA.Fody 2.2.0.3293-beta
nuget Alea.CUDA.Unbound 2.2.0.3293-beta
nuget FSharp.Core 3.1.2.5
nuget FSharp.Collections.ParallelSeq
nuget Nuget.CommandLine
nuget FsUnit
nuget FAKE
nuget FSharp.Charting
nuget FSharp.Formatting 2.4.36
nuget NUnit
nuget NUnit.Runners
nuget SharpDX 2.5.0
nuget SharpDX.Direct3D9 2.5.0
nuget SharpDX.RawInput 2.5.0
nuget fsharp.data
nuget openTK