/* ---------------------------------------------------------
	1. Embedded fonts styles
	2. General reset
	3. Common site styles
	4. Styles for responsive breakpoints 
	---------------------------------------------------------*/
/* ---------------------------------------------------------
	1. Embedded fonts styles
	---------------------------------------------------------*/
@import url("http://fast.fonts.net/lt/1.css?apiType=css&c=7807edfc-9ad6-4a88-87c4-4109f7708fbb&fontids=674411,694015,694027");
@import url(http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono|ABeeZee);
@font-face{
font-family:"HelveticaNeueW02-Thin";
src:url("./fonts/674411/30b6ffc3-3b64-40dd-9ff8-a3a850daf535.eot?#iefix");
src:url("./fonts/674411/30b6ffc3-3b64-40dd-9ff8-a3a850daf535.eot?#iefix") format("eot"),
	url("./fonts/674411/775a65da-14aa-4634-be95-6724c05fd522.woff") format("woff"),
	url("./fonts/674411/988eaaa7-5565-4f65-bb17-146b650ce9e9.ttf") format("truetype"),
	url("./fonts/674411/3503a1a6-91c3-4c42-8e66-2ea7b2b57541.svg#3503a1a6-91c3-4c42-8e66-2ea7b2b57541") format("svg");
}
@font-face{
font-family:"HelveticaNeueW02-45Ligh";
src:url("./fonts/694015/88fcd49a-13c7-4d0c-86b1-ad1e258bd75d.eot?#iefix");
src:url("./fonts/694015/88fcd49a-13c7-4d0c-86b1-ad1e258bd75d.eot?#iefix") format("eot"),
	url("./fonts/694015/9a2e4855-380f-477f-950e-d98e8db54eac.woff") format("woff"),
	url("./fonts/694015/fa82d0ee-4fbd-4cc9-bf9f-226ad1fcbae2.ttf") format("truetype"),
	url("./fonts/694015/48d599a6-92b5-4d43-a4ac-8959f6971853.svg#48d599a6-92b5-4d43-a4ac-8959f6971853") format("svg");
}
@font-face{
font-family:"HelveticaNeueW02-65Medi";
src:url("./fonts/694027/55f60419-09c3-42bd-b81f-1983ff093852.eot?#iefix");
src:url("./fonts/694027/55f60419-09c3-42bd-b81f-1983ff093852.eot?#iefix") format("eot"),
	url("./fonts/694027/5b4a262e-3342-44e2-8ad7-719998a68134.woff") format("woff"),
	url("./fonts/694027/4a3ef5d8-cfd9-4b96-bd67-90215512f1e5.ttf") format("truetype"),
	url("./fonts/694027/58ab5075-53ea-46e6-9783-cbb335665f88.svg#58ab5075-53ea-46e6-9783-cbb335665f88") format("svg");
}
@font-face {
 font-family: 'icomoon';
 src:url('./fonts/icomoon.eot?-o335az');
 src:url('./fonts/icomoon.eot?#iefix-o335az') format('embedded-opentype'),  url('./fonts/icomoon.woff?-o335az') format('woff'),  url('./fonts/icomoon.ttf?-o335az') format('truetype'),  url('./fonts/icomoon.svg?-o335az#icomoon') format('svg');
 font-weight: normal;
 font-style: normal;
}
 [class^="icon-"], [class*=" icon-"] {
 font-family: 'icomoon';
 speak: none;
 font-style: normal;
 font-weight: normal;
 font-variant: normal;
 text-transform: none;
 line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}
   
html {
	box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	-webkit-box-sizing: border-box !important;
	height: 100% !important;
	font-size: 62.5% !important;
}
*, *:before, *:after {
	box-sizing: inherit !important;
	-moz-box-sizing: inherit !important;
	-webkit-box-sizing: inherit !important;
}
* {
	font-size: 100.01% !important;
	max-height: 100000em !important;
}
body {
	margin:0 !important;
	color:#333333 !important;
	font:1.5em/1.667em Helvetica, Arial, sans-serif !important;
	background:#fff !important;
	min-width: 320px !important;
	overflow-y: scroll !important;
	-webkit-text-size-adjust:100% !important;
	-ms-text-size-adjust:none !important;
	height: 100% !important;
	padding: 0px;
}

/* ---------------------------------------------------------
   3. Сommon site styles
   ---------------------------------------------------------*/   
   
 img {
	border-style:none;
	vertical-align: top;
}


.blog_image .st_fblike_hcount {
	float:left;
}
.blog_image .st_fblike_hcount span {
	float: left !important;
	margin-left: 0;
	margin-right: 4px !important;
	margin-top: 0 !important;
}
.blog_image .st_twitter_hcount {
	float:left;
}
.blog_image .st_twitter_hcount span.stButton {
	float:left;
}
.blog_image .st_plusone_hcount {
	float:left;
}
.blog_image .st_plusone_hcount div {
	float:left;
}
#wrapper{
	width: 100%;
	height: 100%;
	display: table;
}
.w1 {
	width:100%;
	display:table-row;
}
.w2 {
	overflow:hidden;
	width:100%;
	position:relative;
}
#san_header {
	width: 100%;
	padding:0px;
	margin:0px ;
}
.san_header-holder {
	max-width: 1136px;
	margin: 0 auto;
	padding: 15px 10px 0px 10px;
}
.san_header-nav {
	margin: 0px;
}
.san_header-box {
	text-align: right;
	margin: 0 0 4px auto;
	overflow: hidden;
}
.san_header-box ul{
	list-style:none !important;
	
}
.san_header-box .san_header-nav {
	display:inline-block;
	vertical-align:top;
	overflow: hidden;
}
.san_header-box .san_header-nav li {
	float: left;
	position: relative;
	margin: 0 19px;
}
.san_header-box .san_header-nav li+li:before {
	content:"";
	position: absolute;
	top: 7px;
	left: -18px;
	height: 13px;
	width: 1px;
	background: #e0dde8;
}
.san_header-box .san_header-nav a {
	font-size: 13px !important;
	line-height: 18px;
	color:#454951;
	text-transform: capitalize;
}
.san_header-box .san_header-nav a:hover {
	text-decoration: underline;
}
.san_social-networks {
	overflow: hidden;
	padding: 4px 0 0;
	display:inline-block;
	vertical-align:top;
	margin: 0px;
}
.san_social-networks li {
	float: left;
	position: relative;
	margin: 0 19px;
}
.san_social-networks li:before {
	content:"";
	position: absolute;
	top: 4px;
	left: -18px;
	height: 13px;
	width: 1px;
	background: #e0dde8;
}
.san_social-networks li:last-child {
	margin: 0px 5px 0px 12px;
}
.san_social-networks a {
	color:#b9bbbf;
}
.san_social-networks a:hover {
	opacity: .7;
}
.san_social-networks .icon-twitter:before {
	content: "\e606";
	font-size: 0.933em;
}
.san_social-networks .icon-linkin:before {
	content: "\e605";
	font-size: 1em;
}
.san_social-networks .icon-youtube:before {
	content: "\e607";
	font-size: 1.2em;
}
.san_social-networks .icon-ico:before {
	content: "\e602";
	font-size: 1.2em;
}
.san_social-networks .icon-github:before {
	content: "\eab1";
	font-size: 1.2em;
}
.fa-github:before {
  content: "\f09b";
  	font-size: 22px;
}
/* ---------------------------------------------------------
  Logo
   ---------------------------------------------------------*/
.san_logo {
	display:inline-block;
	vertical-align:top;
	padding: 0 0 0 1px;
	margin: 0 0 39px;
}
.san_logo a {
	display: block;
}
#nav:after {
	display: block;
	clear: both;
	content:"";
}
#nav .opener {
	display: none;
}
#nav .slide >ul > li {
	display:inline-block;
	vertical-align:top;
	margin: 0 0 0 47px;
	position: relative;
}
#nav .slide ul{
	list-style:none;
}
#nav .slide > ul > li:first-child {
	margin-left: 0;
}
#nav .slide > ul > li > a {
	font-size: 15px;
	line-height: 18px;
	text-transform: capitalize;
	color:#245596;
	font-family:inherit;
	text-decoration:none;
	display: block;
	padding: 0 0 18px;
	border-bottom: 9px solid transparent;
	font-weight: bold;
}
#nav .slide > ul >.active > a, #nav .slide > ul > li:hover > a {
	border-bottom: 9px solid #245596;
}
#nav .slide ul .sub-menu {
	display: none;
	width: 248px;
	position: absolute;
	top: 100%;
	left: 0;
	border:1px solid #eee9e1;
	background:#fff;
	z-index: 100;
}
#nav .slide > ul li a.hover .sub-menu {
	display: block;
}
#nav ul ul li {
	margin: 0;
}
#nav ul ul a {
	display: block;
	text-decoration:none;
	color:#333;
	padding: 14px 25px 16px;
}
#nav ul .sub-menu a:hover {
	background:#eee9e1;
}
.slide {
	float:left;
	margin:0px;
	padding:0px;
	width:100% !important;
}
.slide ul {
	float:left;
	margin:0px;
	padding:0px;
	width:100% !important;
}
.slide ul li {
	float:left;
	margin:0px;
	padding:0px;
}
.slide ul li ul {
	float:left;
	margin:0px;
	padding:0px;
	position:absolute;
	z-index:9999999 !important;
	display:none !important;
	width:248px !important
}
.slide ul li ul li {
	float:left;
	width:100% !important;
}
.slide ul li ul li a {
	text-transform:capitalize !important;
}
.slide ul li:hover ul {
	display:block !important;
	opacity:1;
	visibility:visible;
}

#san_footer {
	width:100% !important;
	overflow:hidden; /*for FF on Windows 7*/
	padding:0px;
	margin: 0px ;
	height:1%;
}
#san_footer .san_footer-holder {
	max-width: 1136px;
	margin: 0 auto;
	padding: 0 10px 30px;
}
#san_footer .san_footer-holder ul{
	list-style:none!important;
	
}
#san_footer .san_footer-holder ul{
	padding:0px !important;
	margin:0px !important;
}
.san_footer-holder .san_three-columns {
	border-bottom: 1px solid #e3e8ea;
	overflow: hidden;
	padding: 40px 0px;
	margin: 0;
}
.san_footer-holder .san_three-columns .san_col {
	width: 32%;
	float: left;
	margin: 0 0 0 2%;
}
.san_footer-holder .san_three-columns .san_col:first-child {
	margin-left: 0;
}
.san_footer-holder .san_col h2 {
	margin: 0 0 16px;
	border-bottom:1px solid #e3e8ea;
	padding: 0 0 6px;
	font-family:inherit;
	color:#333;
}
.san_footer-holder .san_col li {
	margin: 0 0 -1px;
	line-height: inherit;
}
.san_footer-holder .san_col a {
	font-size: 0.933em !important;
	line-height: 1.286em !important;
	color:#333 !important;
}
.san_footer-holder .san_col a:hover {
	text-decoration: underline;
}
ul#bulletlist-squre ul li{
	list-style-type:square !important;
	/*color:#0088cc;*/
}

code {
	font-size: 90% !important;
}

.tip {
	font-size: 80% !important;
}

#anim-holder {
	font-size: 80% !important;
}

#nuget {
    font-size: 11pt;
    margin-top: 20px;
    padding: 20px;
}

.well-small {
    border-radius: 3px;
    padding: 9px;
}

.well {
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px;
}